<p>Liste des projets</p>
    <div class="side" *ngFor="let projet of projets">
        <button (click)="selectProjet(projet)">{{ projet.nom }}</button>
    </div>
    <form>
        <input type="text" name="projet" placeholder="Entrez le nom du projet" [(ngModel)]="projet" />
        <button (click)="this.sendProjet()">Créer projet</button>

    </form>
    <form>
        <input type="text" name="liste" [(ngModel)]="newListe" placeholder="Entrez le nom de la liste">
        <button (click)="this.sendList()">Créer liste</button>
    </form>
    <form>
        <input type="text" name="newCarte" [(ngModel)]="newCarte" placeholder="Ajouter une nouvelle carte"/>
        <input type="text" name="newDescription" [(ngModel)]="newDescription" placeholder="Ajouter une description de la tache"/>
        <select id="listeId" name="listeId" [(ngModel)]="listeId">
            <option value="">Sélectionner une liste</option>
            <option *ngFor="let liste of listes" [value]="liste.id">
                {{this.liste.nom}}
            </option>
        </select>
        <button (click)="this.sendCard()">Créér une carte</button>
    </form>
    <div class="listeTache" *ngFor="let liste of listes">
        <app-liste [liste]="liste"></app-liste>
    </div>
    
    